
<div class="userlist">
  <h2>All users<h2>
    <ul>
      <% User.all.each do |user|%>
      <li> <%= user.id %> - <%= user.name %> - <%= user.email %> - <%= user.password %> </li>  
      <% end %>
    </ul>
  </div>
    


  <!-- <div class="deleteuser">
    <form action="users/:id" method="post">
      <label for="id">Select user to delete:</label>
      <select name="id">
        <% @users.each do |user| %>
        <%binding.pry%>
          <option value="<% user.id %>"><%= user.name %></option>
        <% end %>
      </select>
      <input type="hidden" name="_method" value="delete">
      <input type="submit">
    </form>
  </div>

  <div class="updateuser">
    <form action="users/edit/:id" method="post">
      <label for="id">Select user to update:</label>
      <select name="id">
        <% @users.each do |user| %>
          <option value="<% user.id %>"><%= user.name %></option>
        <% end %>
      </select>
      <input type="hidden" name="_method" value="put">
      <input type="submit">

    </form>
  </div> -->