
<!-- <div class="userlist">
  <h2>All users<h2>
    <ul>
      <% User.all.each do |user|%>
      <li> <%= user.id %> - <%= user.name %> - <%= user.email %> - <%= user.password %> </li>
      <% end %>
    </ul>
  </div> -->
    
  <h2>Pick a user to update</h2>  
    <!-- TODO add link/button function to update/delete-->
  <form action="/users/edit">
    <table>
      <tr>
        <th>All users</th>
      </tr>
      <tr>
    <% User.all.each do |user| %>
        <td><input type="radio" name="id" value="<%= user.id %>"><%= user.name%></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
      </tr>
    <% end %>
  </table>
    <input type="hidden" name="_method" value="put">
    <p><input type="submit"></p>
  </form> 

  <!-- <div class="deleteuser">
    <form action="users/:id" method="post">
      <label for="id">Select user to delete:</label>
      <select name="id">
        <% @users.each do |user| %>
          <option value="<% user.id %>"><%= user.name %></option>
        <% end %>
      </select>
      <input type="hidden" name="_method" value="delete">
      <input type="submit">
    </form>
  </div> -->